<section class="collection">
  <div class="container">
    <h2 class="collection__title">Trending Collection</h2>
    <p class="collection__desc">
      Checkout our weekly updated trending collection.
    </p>
    <ul class="collection__list">
      <li class="collection__item">
        <picture>
          <source
            srcset="
              ../imgs/desktop/collection/animals/collection-animals-1@1x-desktop.webp 1x,
              ../imgs/desktop/collection/animals/collection-animals-1@2x-desktop.webp 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ../imgs/tablet/collection/animals/collection-animals-1@1x-tablet.webp 1x,
              ../imgs/tablet/collection/animals/collection-animals-1@2x-tablet.webp 2x
            "
            media="(min-width: 720px)"
          />
          <source
            srcset="
              ../imgs/mobile/collection/animals/collection-animals-1@1x-mobile.webp 1x,
              ../imgs/mobile/collection/animals/collection-animals-1@2x-mobile.webp 2x
            "
            media="(max-width: 719px)"
          />
          <img
            class="collection__picture"
            width="315"
            height="206"
            src="../imgs/mobile/collection/animals/collection-animals-1@1x-mobile.webp 1x"
            alt="A card of austronaft"
          />
        </picture>
        <ul class="collection__images">
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/animals/collection-animals-2@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/animals/collection-animals-2@2x-desktop.webp 2x
                "
                media="(min-width: 1080px)"
              />
              <source
                srcset="
                  ../imgs/tablet/collection/animals/collection-animals-2@1x-tablet.webp 1x,
                  ../imgs/tablet/collection/animals/collection-animals-2@2x-tablet.webp 2x
                "
                media="(min-width: 720px)"
              />
              <source
                srcset="
                  ../imgs/mobile/collection/animals/collection-animals-2@1x-mobile.webp 1x,
                  ../imgs/mobile/collection/animals/collection-animals-2@2x-mobile.webp 2x
                "
                media="(max-width: 719px)"
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/mobile/collection/animals/collection-animals-2@1x-mobile.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/animals/collection-animals-3@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/animals/collection-animals-3@2x-desktop.webp 2x
                "
                media="(min-width: 1080px)"
              />
              <source
                srcset="
                  ../imgs/tablet/collection/animals/collection-animals-3@1x-tablet.webp 1x,
                  ../imgs/tablet/collection/animals/collection-animals-3@2x-tablet.webp 2x
                "
                media="(min-width: 720px)"
              />
              <source
                srcset="
                  ../imgs/mobile/collection/animals/collection-animals-3@1x-mobile.webp 1x,
                  ../imgs/mobile/collection/animals/collection-animals-3@2x-mobile.webp 2x
                "
                media="(max-width: 719px)"
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/mobile/collection/animals/collection-animals-3@1x-mobile.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <p class="collection__text">1025+</p>
          </li>
        </ul>
        <h3 class="collection__subtitle">DSGN Animals</h3>
        <div class="collection__wrap">
          <picture>
            <source
              srcset="
                ../imgs/desktop/collection/avatars/collection-avatars-1@1x-desktop.webp 1x,
                ../imgs/desktop/collection/avatars/collection-avatars-1@2x-desktop.webp 2x
              "
              media="(min-width: 1080px)"
            />
            <source
              srcset="
                ../imgs/tablet/collection/avatars/collection-avatars-1@1x-tablet.webp 1x,
                ../imgs/tablet/collection/avatars/collection-avatars-1@2x-tablet.webp 2x
              "
              media="(min-width: 720px)"
            />
            <source
              srcset="
                ../imgs/mobile/collection/avatars/collection-avatars-1@1x-mobile.webp 1x,
                ../imgs/mobile/collection/avatars/collection-avatars-1@2x-mobile.webp 2x
              "
              media="(max-width: 719px)"
            />
            <img
              class="collection__avatar"
              width="315"
              height="206"
              src="../imgs/mobile/collection/avatars/collection-avatars-1@1x-mobile.webp 1x"
              alt="A card of austronaft"
            />
          </picture>
          <p class="collection__name">MrFox</p>
        </div>
      </li>
      <li class="collection__item">
        <picture>
          <source
            srcset="
              ../imgs/desktop/collection/mushrooms/collection-mushrooms-1@1x-desktop.webp 1x,
              ../imgs/desktop/collection/mushrooms/collection-mushrooms-1@2x-desktop.webp 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ../imgs/tablet/collection/mushrooms/collection-mushrooms-1@1x-tablet.webp 1x,
              ../imgs/tablet/collection/mushrooms/collection-mushrooms-1@2x-tablet.webp 2x
            "
            media="(max-width: 1079px)"
          />
          <img
            class="collection__picture"
            width="315"
            height="206"
            src="../imgs/tablet/collection/mushrooms/collection-mushrooms-1@1x-tablet.webp 1x"
            alt="A card of austronaft"
          />
        </picture>
        <ul class="collection__images">
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/mushrooms/collection-mushrooms-2@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/mushrooms/collection-mushrooms-2@2x-desktop.webp 2x
                "
                media="(min-width: 1080px)"
              />
              <source
                srcset="
                  ../imgs/tablet/collection/mushrooms/collection-mushrooms-2@1x-tablet.webp 1x,
                  ../imgs/tablet/collection/mushrooms/collection-mushrooms-2@2x-tablet.webp 2x
                "
                media="(max-width: 1079px)"
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/tablet/collection/mushrooms/collection-mushrooms-2@1x-tablet.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/mushrooms/collection-mushrooms-3@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/mushrooms/collection-mushrooms-3@2x-desktop.webp 2x
                "
                media="(min-width: 1080px)"
              />
              <source
                srcset="
                  ../imgs/tablet/collection/mushrooms/collection-mushrooms-3@1x-tablet.webp 1x,
                  ../imgs/tablet/collection/mushrooms/collection-mushrooms-3@2x-tablet.webp 2x
                "
                media="(max-width: 1079px)"
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/tablet/collection/mushrooms/collection-mushrooms-3@1x-tablet.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <p class="collection__text">1025+</p>
          </li>
        </ul>
        <h3 class="collection__subtitle">Magic Mushrooms</h3>
        <div class="collection__wrap">
          <picture>
            <source
              srcset="
                ../imgs/desktop/collection/avatars/collection-avatars-2@1x-desktop.webp 1x,
                ../imgs/desktop/collection/avatars/collection-avatars-2@2x-desktop.webp 2x
              "
              media="(min-width: 1080px)"
            />
            <source
              srcset="
                ../imgs/tablet/collection/avatars/collection-avatars-2@1x-tablet.webp 1x,
                ../imgs/tablet/collection/avatars/collection-avatars-2@2x-tablet.webp 2x
              "
              media="(max-width: 1079px)"
            />
            <img
              class="collection__avatar"
              width="315"
              height="206"
              src="../imgs/tablet/collection/avatars/collection-avatars-2@1x-tablet.webp 1x"
              alt="A card of austronaft"
            />
          </picture>
          <p class="collection__name">Shroomie</p>
        </div>
      </li>
      <li class="collection__item">
        <picture>
          <source
            srcset="
              ../imgs/desktop/collection/machines/collection-machines-1@1x-desktop.webp 1x,
              ../imgs/desktop/collection/machines/collection-machines-1@2x-desktop.webp 2x
            "
          />
          <img
            class="collection__picture"
            width="315"
            height="206"
            src="../imgs/desktop/collection/machines/collection-machines-1@1x-desktop.webp 1x"
            alt="A card of austronaft"
          />
        </picture>
        <ul class="collection__images">
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/machines/collection-machines-2@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/machines/collection-machines-2@2x-desktop.webp 2x
                "
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/desktop/collection/machines/collection-machines-2@1x-desktop.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <picture>
              <source
                srcset="
                  ../imgs/desktop/collection/machines/collection-machines-3@1x-desktop.webp 1x,
                  ../imgs/desktop/collection/machines/collection-machines-3@2x-desktop.webp 2x
                "
              />
              <img
                class="collection__img"
                width="315"
                height="206"
                src="../imgs/desktop/collection/machines/collection-machines-3@1x-desktop.webp 1x"
                alt="A card of austronaft"
              />
            </picture>
          </li>
          <li class="collection__image">
            <p class="collection__text">1025+</p>
          </li>
        </ul>
        <h3 class="collection__subtitle">Disco Machines</h3>
        <div class="collection__wrap">
          <picture>
            <source
              srcset="
                ../imgs/desktop/collection/avatars/collection-avatars-3@1x-desktop.webp 1x,
                ../imgs/desktop/collection/avatars/collection-avatars-3@2x-desktop.webp 2x
              "
            />
            <img
              class="collection__avatar"
              width="315"
              height="206"
              src="../imgs/desktop/collection/avatars/collection-avatars-3@1x-desktop.webp 1x"
              alt="A card of austronaft"
            />
          </picture>
          <p class="collection__name">BeKind2Robots</p>
        </div>
      </li>
    </ul>
  </div>
</section>
