<header class="header">
  <div class="container">
    <a href="../index.html" class="header__logo">
      <svg class="header__icon" width="182" height="24">
        <use href="../svg/icon.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Marketplace</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Rankings</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Connect a wallet</a>
        </li>
      </ul>
    </nav>
    <button class="header__button">
      <svg class="header__user" width="20" height="20">
        <use href="../svg/icon.svg#user"></use>
      </svg>
      <p class="header__text">Sign Up</p>
    </button>
    <button class="header__burger">
      <svg class="header__menu" width="24" height="24">
        <use href="../svg/icon.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
