<section class="hero">
  <div class="container">
    <div class="hero__textblock">
      <h1 class="hero__title">Discover digital art & Collect NFTs</h1>
      <p class="hero__desc">
        NFT marketplace UI created with Anima for Figma. Collect, buy and sell
        art from more than 20k NFT artists.
      </p>
    </div>
    <div class="hero__numblock">
      <button class="hero__button">
        <svg class="hero__icon" width="20" height="20">
          <use href="../svg/icon.svg#rocket"></use>
        </svg>
        <p class="hero__info">Get Started</p>
      </button>
      <ul class="hero__list">
        <li class="hero__item">
          <h3 class="hero__num">240k+</h3>
          <p class="hero__size">Total Sale</p>
        </li>
        <li class="hero__item">
          <h3 class="hero__num">100k+</h3>
          <p class="hero__size">Auctions</p>
        </li>
        <li class="hero__item">
          <h3 class="hero__num">240k+</h3>
          <p class="hero__size">Artists</p>
        </li>
      </ul>
    </div>
    <div class="hero__cardblock">
      <picture>
        <source
          srcset="
            ../imgs/desktop/hero/hero-img@1x-desktop.webp 1x,
            ../imgs/desktop/hero/hero-img@2x-desktop.webp 2x
          "
          media="(min-width: 1080px)"
        />
        <source
          srcset="
            ../imgs/tablet/hero/hero-img@1x-tablet.webp 1x,
            ../imgs/tablet/hero/hero-img@2x-tablet.webp 2x
          "
          media="(min-width: 720px)"
        />
        <source
          srcset="
            ../imgs/mobile/hero/hero-img@1x-mobile.webp 1x,
            ../imgs/mobile/hero/hero-img@2x-mobile.webp 2x
          "
          media="(max-width: 719px)"
        />
        <img
          class="hero__img"
          width="315"
          height="206"
          src="../imgs/mobile/hero/hero-img@1x-mobile.webp 1x"
          alt="A card of austronaft"
        />
      </picture>
      <div class="hero__caption">
        <h3 class="hero__subtitle">Space Walking</h3>
        <div class="hero__avatarblock">
          <picture>
            <source
              srcset="
                ../imgs/desktop/hero/hero-avatar@1x-desktop.webp 1x,
                ../imgs/desktop/hero/hero-avatar@2x-desktop.webp 2x
              "
              media="(min-width: 1080px)"
            />
            <source
              srcset="
                ../imgs/tablet/hero/hero-avatar@1x-tablet.webp 1x,
                ../imgs/tablet/hero/hero-avatar@2x-tablet.webp 2x
              "
              media="(min-width: 720px)"
            />
            <source
              srcset="
                ../imgs/mobile/hero/hero-avatar@1x-mobile.webp 1x,
                ../imgs/mobile/hero/hero-avatar@2x-mobile.webp 2x
              "
              media="(max-width: 719px)"
            />
            <img
              class="hero__avatar"
              width="315"
              height="206"
              src="../imgs/mobile/hero/hero-avatar@1x-mobile.webp 1x"
              alt="An avatar"
            />
          </picture>
          <p class="hero__name">Animakid</p>
        </div>
      </div>
    </div>
  </div>
</section>
