html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: $bg;
}

* {
    color: $text;
    transition: all 0.3s ease;
}


*::selection {
    background-color: $accent;
    color: $text;
}